
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body {
    background: #f1f1f1;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 1.5rem;
    gap: 1rem;
    flex-wrap: wrap;
    background: white;

}
.container .card {
    width: calc((100% - 3rem) / 3);
    border-radius: 1.5rem;
    overflow: hidden;
    padding: 4rem;
    border-radius: 25px;
    box-shadow:0 0 10px rgba(0, 0, 0, .1); ;
    position: relative;
}
.card-image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;

}
/* .card-image .logo-image{
    height: 100px;
    width: 100px;
    position: absolute;
    left: 322px;
    top: 24px; 
} */


.card .discription h2{
    font-family:Inter;
    font-size: 25px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    margin-bottom: 0.75rem;
}

.card .discription p{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px; 
    text-align: left;
}